.DS_Store
README.md~
.idea/
WiseRep/supernova_data/*
WiseRep/supernova_data.tar.gz
WiseRep/objects_z_values.txt
WiseRep/data_list.txt
WiseRep/supernovae_info.txt
WiseRep/download_data.sh
*.pyc*
WiseRep/test.hdf5
Component Plots/
supernova_data/
WiseRep/*.eps
