.DS_Store
README.md~
.idea/
supernova_data/*
supernova_data.tar.gz
objects_z_values.txt
data_list.txt
supernovae_info.txt
download_data.sh
*.pyc*
test.hdf5
Component Plots/
supernova_data/
*.eps
spark_test/
odetta_data.tar.gz
example_numpy.py
